@import "common";



.dashboard-admin-charts {
  width: 100%;

  position: relative;

  &__navigation {
    position: fixed;
    &.--active {
      width: 80px;
    }
  }

  &__main {
    position: absolute;
    left: 300px;
    &.--active {
      width: calc(100% - 80px);

      left: 80px;
    }
  }
}



@import "navigation";

@import "main";
    @import "main/topbar";
        @import "main/topbar/toggle";
        @import "main/topbar/search";
        @import "main/topbar/user";
    @import "main/cards";
    @import "main/details";
    @import "main/customers";
    @import "main/charts";
