.details {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  padding: 20px;

  // margin-top: 10px;
  position: relative;

  @media screen and (max-width: 1279.98px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__recent {
    display: grid;
    min-height: 500px;
    background: var(--light);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    position: relative;

    @media screen and (max-width: 575.98px) {
      overflow-x: auto;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    font-weight: 600;
    color: var(--accent);
  }

  &__btn {
    padding: 5px 10px;
    background: var(--accent);
    text-decoration: none;
    color: var(--light);
    border-radius: 6px;

    position: relative;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    margin-top: 10px;

    thead {
      th {
        font-weight: 600;
        text-align: left;
        padding: 10px;

        &:nth-of-type(2),
        &:last-of-type {
          text-align: right;
        }

        &:nth-of-type(3) {
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        color: var(--dark1);
        white-space: nowrap;

        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:hover {
          background: var(--accent);
          color: var(--light);
        }

        td {
          padding: 10px;

          &:nth-of-type(2),
          &:last-of-type {
            text-align: right;
          }

          &:nth-of-type(3) {
            text-align: center;
          }
        }
      }
    }
  }

  &__status {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--light);
    white-space: nowrap;
    &.--delivered {
      background: #8de02c;
    }
    &.--pending {
      background: #f9ca3f;
    }
    &.--return {
      background: #f00;
    }
    &.--inprogress {
      background: #1795ce;
    }
  }
}
